<div class="container" id="content">
  <h1>Aker</h1>

  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <p>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %> <br>
      <%= button_to "Log out", "/logout", method: 'DELETE', class: "btn btn-danger" %>
      <% begin %>
        <% payload, header = JWT.decode cookies[:aker_user], Rails.configuration.jwt_secret_key, true, { algorithm: 'HS256'} %>
        <%= payload %><br>
        <%= Rails.configuration.jwt_exp_time %>
        <%= (Rails.configuration.jwt_exp_time - (Time.now.to_i - payload['iat'].to_i)).to_s + " seconds until session expires"%>
      <% rescue JWT::VerificationError => e %>
        JWT Verification failed, you hacker
      <% rescue JWT::ExpiredSignature => e %>
        JWT Signature has expired
      <% end %>

    <% else %>
      Not signed in<br>
      <a href="/login"><button class="btn btn-info">Log in</button></a>
      <a href="/login?redirect_url=http://www.google.jp"><button class="btn btn-info">Log in with redirect</button></a>
    <% end %>
  </p>
</div>
